# Project: 
# Automated Robotic Lawnmower Simulator
#
# File: ./k8s/lawnmower_sim_k8s_deployment.yaml
#
# Objectives: 
#	Define K8s deployment
#   Specify how many copies (pods) of the docker container to run and their configuration.
#   Specify the Docker image to use and defines resource limits to ensure the container doesn't consume excessive CPU/Memory.
#   All the copies will run same API "waiting" for files simultaneously. If one crashes, Kubernetes automatically restarts it.
#   To Apply Deployment: kubectl apply -f ./k8s/lawnmower_sim_k8s_deployment.yaml
#
# Author: gustavobaldocarvalho @ yahoo.com
#
# Version: 31.01.2026 - Creation

apiVersion: apps/v1
kind: Deployment
metadata:
  name: lawnmower-sim-deployment
  labels:
    app: lawnmower-sim
spec:
  replicas: 3 # Running 3 instances of the container
  selector:
    matchLabels:
      app: lawnmower-sim
  template:
    metadata:
      labels:
        app: lawnmower-sim
    spec:
      containers:
      - name: lawnmower-sim-container
        # image needs to match the name of the docker image
        image: lawnmower_sim_docker_image 
        imagePullPolicy: Never
        ports:
        # internal container listening port
        - containerPort: 8000
        resources:
          requests:
            # Allocate min 128 Mb
            memory: "128Mi"
            # Allocate 25% of 1 CPU (1000m)
            cpu: "250m"
          # limits are used by hpa to decide when to scale up resources
          limits:
            # Specify max 512 Mb
            memory: "512Mi"
            # Specify 100% of 1 CPU (1000m). Allows Mor Scale Up
            cpu: "1000m"
        env:
        - name: ENV_MODE
          value: "PROD"