# Project: 
# Automated Robotic Lawnmower Simulator
#
# File: ./k8s/lawnmower_sim_k8s_service.yaml
#
# Objectives: 
#   Define K8s Service manifest with one unique network identity (single IP and port) for all the Pods
#   To Apply Service: kubectl apply -f ./k8s/lawnmower_sim_k8s_service.yaml	
#   To List Pods Status: kubectl get pods
#   Check Service Access: kubectl get service lawnmower-sim-service
#
# Author: gustavobaldocarvalho @ yahoo.com
#
# Version: 31.01.2026 - Creation

apiVersion: v1
kind: Service
metadata:
  name: lawnmower-sim-service
  labels:
    # app needs to match the app name on the k8s deployment
    app: lawnmower-sim
spec:
  # exposes application to the internet or a local network by provisioning an external entry point
  # provides one stable IP or address regardless of number of pods in service
  # receives incoming requests and distributes them across all healthy pods
  type: LoadBalancer  
  selector:
    # app needs to match the app name on the k8s deployment
    app: lawnmower-sim    
  ports:
    - protocol: TCP
      # host port (localhost:8000) to be mapped to the container port
      port: 8000      
      # internal container listening port
      targetPort: 8000 