# Project: 
# Automated Robotic Lawnmower Simulator
#
# File: ./docker/lawnmower_sim_docker_requirements.txt
#
# Objectives: 
#    Define Docker Image requirements
#
# Author: gustavobaldocarvalho @ yahoo.com
#
# Version: 31.01.2026 - Creation

# Core Production Dependencies (Imports from production file)
fastapi==0.109.0
uvicorn==0.27.0
python-multipart==0.0.6

# Development & Testing Tools
pytest>=7.0.0      # Automated test runner
mypy>=1.0.0        # Static type checker
types-setuptools   # Type stubs for better mypy accuracy
httpx              # Recommended for testing FastAPI endpoints with pytest